* {
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

#main{
    display: flex;
}

#main div{
    border:1px solid black;
    flex-wrap: wrap;
    min-width: 250px;
    min-height: 250px;
    margin: 10px;
    padding: 5px;

    font-family: 'Patrick Hand', cursive;
    font-size: 2rem;
    letter-spacing: 2px;

    border-bottom-left-radius: 50px;
}

