* {

    margin: 0;
    padding: 0;
    font-family: 'Roboto', cursive;
    
}

body{
    background-color: #FAF9F6;
}

h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin-top: 20px;
}

#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

#main .post-it{
    font-family: 'Patrick Hand', cursive;
    flex: 20%;
    height: 250px;
    margin: 10px;
    padding: 0 10px ;

    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 55px;
    position: relative;
}

.post-it p{
    text-align: right;
}

.post-it i{
    color: #000000;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.5s;
}

.post-it i:hover{
    color: #FFFF99;
}

.post-it hr{
    border: 1px solid rgba(51, 51, 51, 0.084);
    width: 100%;
    height: fit-content;
    padding: 0;
}

.post-it-corner{
    width: 50px;
    height: 45px;
    
    border-right: 1px solid rgba(51, 51, 51, 0.5);
    border-top: 1px solid rgba(51, 51, 51, 0.5);;
    background-color: #FFF;

    position: absolute;
    bottom:0;
    left: 1px;
    
    box-shadow: 0 -1px 20px rgb(69, 69, 69) ;
    border-top-right-radius: 0;
    border-bottom-left-radius: 65px;
}

#form-section{
    display: flex;
    justify-content: center;
    margin: 20px 50px 20px;
}

#form-section .form-items{
    flex-wrap: wrap;
}

#form-section textarea{
    padding: 10px;
    min-width:40% ;
    max-width: 50%;

    min-height: 50px;
    font-size: 1rem;
    border-radius: 5px;
}

#form-section #add-btn{
    padding:10px 30px;
    margin-left: 10px;
    cursor: pointer;

    background-color: #FFFF99;
    border-radius: 5px;
    border: 2px solid #000000;
    transition: 0.5s;
}

#form-section #add-btn:hover{
    background-color: #bbbb50;
}

#add-btn i {
    font-size: 1.3rem;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #000000;

}

footer p {
    padding: 10px;
    
    color: #FAF9F6;
}

/* Post it colours */
.orange{
    background-color: #f39a4f;
}

.pink{
    background-color: #eb6092;
}

.blue{
    background-color: #4ab6d9;
}

.green{
    background-color: #abcc51;
}

.gold{
    background-color: #f9c847;
}

@media screen and (max-width: 1100px){
    #main  .post-it{
        flex:30%
    }
}

@media screen and (max-width: 660px){
    #main  .post-it{
        flex:50%
    }
}


@media screen and (max-width: 560px){
    #main  .post-it{
        flex:50%
    }


    #form-section{
        flex-direction: column;
        
    }

    
    #form-section textarea{

        max-width: 100%;
    }
    
    #form-section #add-btn{
        margin-top: 20px;
    }
    
    

}